/*========================================================================================= 
Name:										Jose Campos-Munoz
Student ID:							933-630-151
Date:										10/11/2019			    
Class:									CS290: Web Development			     	
Description:						HW Assignment 2: HTML/CSS	      		
												For this week, we're creating a simple web page.			     
File:										style.css			      	
=========================================================================================*/

h4{
    text-decoration: underline;
}

/*=======================================CREATING TABLE 6x6=======================================*/
/* For choosing the specific color tone, I used the Color code source: "https://htmlcolorcodes.com/" */

/*Adding border around entire box and each cell*/
table#table{
    border:1px solid black;
}

table#table td{
      border:1px solid black;
}

table#table th{
    border:1px solid black;
}

/****IMPLEMENTING EXTRA CREDIT: Making alternate colors for non-header rows ****/
/* Making odd rows red-ish*/
table#table tbody tr:nth-of-type(odd){
    background-color:#fc033d;
}
/* Makes even rows yellow-ish*/
table#table tbody tr:nth-of-type(even){
    background-color:#fcd703;
}


/*==============================================DIV================================================*/

/* outer-content divc*/

div.outer-content{
    /* color pink for background */
    background-color: pink;
    /* Taking up 3/4 of page width */
    margin-left: 0px;
    width: 75%;
    /* Adding a space of 20px between it and the previous element */
    margin-top: 20px;
    /* Adding some properties to get a better design (for me) */
    margin-bottom: 20px;
    padding: 10px;
}

/* inner-content div */

div.inner-content{
    /* Color blue for inner content background */
    background-color: #60c9e6;
    /*Makes inner-content div take up 3/4 of the page width of preant div width*/
    width: 75%;
    /*MAkes inner-content div be centerd*/
    margin: auto;
    text-align: center;
}


/*================================================POST and GET FORMS===================================================*/

label{
    border: 1px solid black;
    padding: 3px;
    display: block;
    margin: 0 auto;
}

section.radio{
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
    display: block;

}

 section.radio label{
	 	border: none; 
	 	padding: 0;
	 	margin: 0;
	 	padding: 3px;
	 	
 }
